<!DOCTYPE html>
<html>

<head>
    <title>Addition de nombres</title>
</head>

<body>
    <h1>Résultat</h1>

    <% if (result) { %>
        <p>Gagné !</p>
        <% } else { %>
            <p>Perdu.</p>
            <% } %>
            <a href="/">Revenir</a>


</body>

</html>