<!DOCTYPE html>
<html>
<head>
    <title>Addition de nombres</title>
</head>
<body>
    <h1>Addition de nombres</h1>

    <form action="/calculate" method="post">
        <% if(tab && tab.length > 0) { %>
          <p>Voici les nombres à additionner : <%= tab.join(', ') %></p>
          <input type="hidden" name="tab" value="<%= JSON.stringify(tab) %>">
          <label for="result">Entrez le résultat :</label>
          <input type="text" id="result" name="result" required>
          <button type="submit">Vérifier</button>
        <% } else { %>
          <p>Aucun nombre à additionner.</p>
        <% } %>
      </form>
      
      
    <h3>Timer</h3>
    <div id="timerDisplay">Loading...</div>

    <script>
        const eventSource = new EventSource('/timer');
    
        eventSource.onmessage = function(event) {
            document.getElementById('timerDisplay').innerText = event.data;
        };
    </script> 
</body>
</html>
